@{
    ViewData["Title"] = "Home Page";
}
    <link href="~/css/site.css" rel="stylesheet" />
    <div class="text-center">
        <h4 class="display-4">Welcome To</h4>       
        <img src="~/Imgaes/KRAKEN-logo-transparent.png" class="imageBanner" />
    </div>
